/.idea/caches
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.externalNativeBuild
.cxx
app/build.gradle
.idea/gradle.xml
.idea/dbnavigator.xml
.idea/gradle.xml
.idea/codeStyles/Project.xml
app/build.gradle
